HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.git.bfg-report/2021-04-25/15-48-53/cache-stats.txt
.git.bfg-report/2021-04-25/15-48-53/deleted-files.txt
.git.bfg-report/2021-04-25/15-48-53/object-id-map.old-new.txt
bfg-1.14.0.jar
